<script>
  resolvedText = document.querySelector(".ok.tooltip > strong");
  resolvedText.innerHTML = "This issue is resolved.";
</script>
<script>
  warningText = document.querySelector(".warning.tooltip");
  if (warningText.querySelector("strong").innerText.includes("Resolved")) {
    warningText.classList.remove("warning");
    warningText.classList.add("ok");
    warningText.querySelector("strong").innerHTML = "This issue is resolved.";
  }
</script>
<script>
  homePageResolvedTextList = document.querySelectorAll("#incidents .issue");
  for (const status of homePageResolvedTextList) {
    if (status.querySelector(".ok")) {
      status.querySelector(".ok").innerHTML = "This issue is resolved.";
    } else if (status.querySelector(".warning")) {
      if (status.querySelector(".warning").innerText.includes("Resolved")) {
        warningToOk = status.querySelector(".warning");
        warningToOk.classList.remove("warning");
        warningToOk.classList.add("ok");
        warningToOk.innerHTML = "This issue is resolved.";
      }
    }
  }
</script>
<script>
  topBoxes = document.querySelectorAll(".status-homepage .announcement-box .padding");
  topBoxesElements = [];
  topBoxesList = [];
  bottomBoxes = document.querySelectorAll("#incidents .issue");
  bottomBoxesElements = [];
  bottomBoxesList = [];
  for (const box of topBoxes) {
      issueTitleUnformatted = box.querySelector("p:first-of-type > a:first-of-type > .bold");
      issueTitleFormatted = issueTitleUnformatted.innerText.replace(" →",'');
      topBoxesElements.push(box);
      topBoxesList.push(issueTitleFormatted);
  }
  for (const bottomBox of bottomBoxes) {
      historyTitleUnformatted = bottomBox.querySelector("h3");
      historyTitleFormatted = historyTitleUnformatted.innerText;
      bottomBoxesElements.push(bottomBox);
      bottomBoxesList.push(historyTitleFormatted);
  }
  for (let i=0; i<topBoxesList.length; i++) {
      if (!bottomBoxesList.includes(topBoxesList[i])) {
          topBoxesElements[i].style.display = "none";
      } else if (bottomBoxesElements[i].querySelector(".ok")) {
          topBoxesElements[i].style.display = "none";
      };
  }
</script>
<script>
  currentIssuesList = document.querySelectorAll("#incidents .issue");
  for (const issue of currentIssuesList) {
    issueDate = issue.querySelector(".date").getAttribute("title");
    issueDate = Date.parse(issueDate);
    currentDate = Date();
    currentDate = Date.parse(currentDate);
    if (currentDate - issueDate > 604800000) {
      issue.style.display = "none";
    }
  }
</script>
<script>
  blankIncidents = function() {
      incidentsList = document.querySelectorAll("#incidents .issue");
      incidentsShown = 0;
      for (const issue of incidentsList) {
          if (issue.style.display != "none") {
              incidentsShown += 1;
          };
      };
      if (incidentsShown === 0) {
          document.getElementById("incidents").insertAdjacentHTML("afterbegin",`<h3 class="ok" id="no-issues-text"> No incidents reported in the last 7 days </h3>`);
      };
  }
  document.addEventListener("DOMContentLoaded", blankIncidents);
</script>
<script>
  maintenanceToInfo = function() {
    componentStatusTextList = document.querySelectorAll(".status-homepage .category .components .component-status");
    categoryStatusTextList = document.querySelectorAll(".status-homepage .category .category-status");
    for (const status of componentStatusTextList) {
        if (status.innerHTML.includes("Maintenance")) {
            status.innerHTML = " Info "
        };
    };
    for (const status of categoryStatusTextList) {
        if (status.innerHTML.includes("Maintenance")) {
            status.innerHTML = " Info "
        };
    };
  };
  document.addEventListener("DOMContentLoaded", maintenanceToInfo);
</script>
