<link rel="icon" type="image/x-icon" href="https://gravyty.s3.amazonaws.com/Raise/favicon-16x16.png">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
<!-- Start Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-8LC6RQNVL6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-8LC6RQNVL6');
</script>
<!-- End Google tag (gtag.js) -->
<!-- Start custom site styling -->
<style>
  html, body {
    font-family: Montserrat, sans-serif;
  }
  .summary__date {
    display: none!important;
  }
  #incidents .center {
    display: none!important;
  }
  .article .tooltip.ok {
    pointer-events: none!important;
  }
  .article .ok .tooltip__text {
    display: none!important;
  }
  #no-issues-text {
    text-align: center;
  }
  body.default.list .contain p.bold > em {
    display: none!important;
  }
  body.default.list .contain small.faded {
    display: none!important;
  }
  body.default.list .contain > .faded + .padding {
      display: none!important;
  }
</style>
<!-- End custom site styling -->
